In [16]:
import pandas as pd
import numpy as np

In [21]:
attr1 = np.array([0 + 2*np.random.randn() for i in range(100)])
attr2 = np.array([1 + np.random.randn() for i in range(100)])
attr3 = np.array([2 + np.random.randn() for i in range(100)])
dataset = pd.DataFrame({
    'value1' : attr1,
    'value2' : attr2,
    'value3' : attr3,
})
display(dataset)

print(dataset)

      value1    value2    value3
0   3.494091 -0.342355  2.261931
1  -1.955429 -0.680450  1.956926
2  -2.408373  1.570778  1.418085
3   0.641248  0.412942  2.262622
4   0.680204  0.900838  2.685385
..       ...       ...       ...
95  0.240558  2.253978  1.575679
96  2.468903  0.971850  2.667997
97  0.072733  1.803227  3.228778
98  0.120853  1.713044  3.153829
99  0.749771  0.460804  3.569320

[100 rows x 3 columns]

      value1    value2    value3
0   3.494091 -0.342355  2.261931
1  -1.955429 -0.680450  1.956926
2  -2.408373  1.570778  1.418085
3   0.641248  0.412942  2.262622
4   0.680204  0.900838  2.685385
..       ...       ...       ...
95  0.240558  2.253978  1.575679
96  2.468903  0.971850  2.667997
97  0.072733  1.803227  3.228778
98  0.120853  1.713044  3.153829
99  0.749771  0.460804  3.569320

[100 rows x 3 columns]